# Настройки PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=471300
POSTGRES_DB=postgres 
DB_HOST=localhost 
DB_PORT=5432

# URL для подключения (использует переменные выше)
DATABASE_URL=postgres://postgres:471300@localhost:5432/postgres?sslmode=disable